<div data-ng-controller="Rbs_Plugins_New_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.plugins.admin.registered-plugin-list-sub-title', ['ucf']) }}"></page-header><br />
	<div class="alert" data-ng-class="{'alert-success': pluginInfos.success, 'alert-error': pluginInfos.errors }" data-ng-if="pluginInfos">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<span data-ng-bind-html-unsafe="pluginInfos.message"></span>
		<ul data-ng-repeat="error in pluginInfos.errors">
			<li>(= error =)</li>
		</ul>
	</div>
	<rbs-document-list data-dlid="DLRbsPluginsRegisteredList"
		collection="plugins"
		selectable="false"
		extend="pluginList"
		modification-date="false"
		on-reload="reloadPlugins()">
		<action name="verifyAll" label="{{ i18nAttr('m.rbs.plugins.admin.verify-all', ['ucf']) }}"></action>
		<column name="type" label="{{ i18nAttr('m.rbs.plugins.admin.type', ['ucf']) }}"></column>
		<column name="vendor" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.vendor', ['ucf']) }}"></column>
		<column name="shortName" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.name', ['ucf']) }}"></column>
		<column name="package" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.package', ['ucf']) }}"></column>
		<column name="verify" align="center">
			<button class="btn btn-small" data-ng-click="extend.verify(doc)" data-ng-class="{ 'btn-warning': !doc.verified, 'btn-success': doc.verified, 'btn-danger': doc.invalid }">
				<i class="icon-white icon-ok" data-ng-if="doc.verified"></i>
				{{ i18n('m.rbs.plugins.admin.verify', ['ucf']) }}</button>
		</column>
		<column name="install" align="center">
			<button class="btn btn-success btn-small" data-ng-click="extend.install(doc)">
				<i data-ng-if="doc.onInstall" class="icon-white icon-spinner"></i>
				{{ i18n('m.rbs.plugins.admin.install', ['ucf']) }}
			</button>
		</column>
		<column name="deregister" align="center">
			<button class="btn btn-danger btn-small" data-ng-click="extend.deregister(doc)">{{ i18nAttr('m.rbs.plugins.admin.deregister', ['ucf']) }}</button>
		</column>
	</rbs-document-list>
</div>