<div class="row" ng-controller="Rbs_Plugins_Installed_ListController">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Plugins'|rbsURL:'home' =)">{{ i18n('m.rbs.plugins.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="Rbs/Plugins/Installed">{{ i18nAttr('m.rbs.plugins.admin.installed_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.plugins.admin.installed_plugin_list_sub_title', ['ucf']) }}"></rbs-page-header><br />
		<table class="document-list table table-condensed table-bordered table-striped table-hover token">
			<thead>
				<tr>
					<th data-ng-class="{'sorted':isSortedOn('type')}">
						<a href="" data-ng-click="predicate = 'type'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.type', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('type')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('type')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th data-ng-class="{'sorted':isSortedOn('vendor')}">
						<a href="" data-ng-click="predicate = 'vendor'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.vendor', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('vendor')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('vendor')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th data-ng-class="{'sorted':isSortedOn('shortName')}">
						<a href="" data-ng-click="predicate = 'shortName'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.name', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('shortName')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('shortName')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th data-ng-class="{'sorted':isSortedOn('package')}">
						<a href="" data-ng-click="predicate = 'package'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.package', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('package')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('package')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th data-ng-class="{'sorted':isSortedOn('registrationDate')}">
						<a href="" data-ng-click="predicate = 'registrationDate'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.registration_date', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('registrationDate')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('registrationDate')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th data-ng-class="{'sorted':isSortedOn('activated')}">
						<a href="" data-ng-click="predicate = 'activated'; reverse=!reverse">
							{{ i18n('m.rbs.plugins.admin.activated', ['ucf']) }}
						</a>
						<i data-ng-if="!isSortedOn('activated')" class="column-sort-indicator icon-sort"></i>
						<i data-ng-if="isSortedOn('activated')" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[reverse]"></i>
					</th>
					<th align="center"><button class="btn btn-default btn-sm" data-ng-click="verifyAll()">{{ i18n('m.rbs.plugins.admin.verify_all', ['ucf']) }}</button></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="plugin in plugins | orderBy:predicate:reverse" class="normal-row">
					<td>(= plugin.type =)</td>
					<td>(= plugin.vendor =)</td>
					<td>(= plugin.shortName =)</td>
					<td>(= plugin.package =)</td>
					<td>(= plugin.registrationDate | date:'medium' =)</td>
					<td><rbs-switch data-ng-model="plugin.activated" data-ng-change="activateChange(plugin)" ng-disabled="plugin.configuration.locked"></rbs-switch></td>
					<td align="center">
						<button class="btn btn-sm" data-ng-click="verify(plugin)" data-ng-class="{ 'btn-warning': !plugin.verified, 'btn-success': plugin.verified && plugin.valid, 'btn-danger': plugin.verified && !plugin.valid }">
							<i class="icon-white icon-ok" data-ng-if="plugin.valid"></i>
							{{ i18n('m.rbs.plugins.admin.verify', ['ucf']) }}</button>
					</td>
					<td align="center">
						<button data-ng-if="!plugin.configuration.locked" class="btn btn-danger btn-sm" data-ng-click="deinstall(plugin)">{{ i18n('m.rbs.plugins.admin.deinstall', ['ucf']) }}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>