<div data-ng-controller="Rbs_Plugins_Installed_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.plugins.admin.installed-plugin-list-sub-title', ['ucf']) }}"></page-header><br />
	<div class="alert" data-ng-class="{'alert-success': pluginInfos.success, 'alert-error': pluginInfos.errors }" data-ng-if="pluginInfos">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<span data-ng-bind-html-unsafe="pluginInfos.message"></span>
		<ul data-ng-repeat="error in pluginInfos.errors">
			<li>(= error =)</li>
		</ul>
	</div>
	<!-- TODO Replace this button by an action coded in controller List actions -->
	<button class="btn btn-small pull-right" data-ng-click="verifyAll()">{{ i18n('m.rbs.plugins.admin.verify-all', ['ucf']) }}</button><br />
	<rbs-document-list data-dlid="DLRbsPluginsInstalledList"
		collection="plugins"
		selectable="false"
		extend="pluginList"
		modification-date="false"
		on-reload="reloadPlugins()"
		actions="">
		<column name="type" label="{{ i18nAttr('m.rbs.plugins.admin.type', ['ucf']) }}"></column>
		<column name="vendor" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.vendor', ['ucf']) }}"></column>
		<column name="shortName" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.name', ['ucf']) }}"></column>
		<column name="package" local-sort="true" label="{{ i18nAttr('m.rbs.plugins.admin.package', ['ucf']) }}"></column>
		<column name="registrationDate" local-sort="true" format="date" label="{{ i18nAttr('m.rbs.plugins.admin.registration-date', ['ucf']) }}"></column>
		<column name="activated" align="center">
			<switch data-ng-model="doc.activated" data-ng-change="extend.activateChange(doc)"></switch>
		</column>
		<column name="verify" align="center">
			<button class="btn btn-small" data-ng-click="extend.verify(doc)" data-ng-class="{ 'btn-warning': !doc.verified, 'btn-success': doc.verified, 'btn-danger': doc.invalid }">
				<i class="icon-white icon-ok" data-ng-if="doc.verified"></i>
				{{ i18n('m.rbs.plugins.admin.verify', ['ucf']) }}</button>
		</column>
		<column name="deinstall" align="center">
			<button data-ng-if="!doc.configuration.locked" class="btn btn-danger btn-small" data-ng-click="extend.deinstall(doc)">{{ i18n('m.rbs.plugins.admin.deinstall', ['ucf']) }}</button>
		</column>
	</rbs-document-list>
</div>